* {
  background-color: #3c008a;
  color: white;
  font-family: 'Amarante', cursive;

}
.App {
  text-align: center;
  padding: 10%;

}
/* .active-users{
  margin: 2%;
  padding: 5%;
} */
input {
  border-radius: 2px 20px 2px;
  text-align: center;
  margin: 2%;
  padding: 2%;
  outline: none;

}
i{
  font-size: 5em;
  padding: 3%;

}
i:hover{
  opacity: 50%;
}
ul{
  
  list-style-type: none;
}
